services:

  nginx:
    image: orthancteam/orthanc-nginx-certbot:25.12.0
    depends_on: [orthanc, orthanc-auth-service]
    restart: unless-stopped
    ports: ["80:80", "443:443"]
    environment:
      ENABLE_ORTHANC: "true"
      ENABLE_KEYCLOAK: "true"
      ENABLE_ORTHANC_TOKEN_SERVICE: "false"
      ENABLE_MEDDREAM: "true"
      ENABLE_ORTHANC_FOR_API: "true"
      ENABLE_OHIF: "true"
      DOMAIN_NAME: "demo.orthanc.team"
      CERTBOT_EMAIL: "ops@orthanc.team"

  orthanc:
    image: orthancteam/orthanc:25.12.3
    depends_on: [postgres]
    volumes:
      - orthanc-data:/var/lib/orthanc/db:Z
      - ./inbox-plugin.py:/scripts/inbox-plugin.py
    restart: unless-stopped
    environment:
      ORTHANC__NAME: "Orthanc"
      VERBOSE_ENABLED: "true"
      VERBOSE_STARTUP: "true"
      VOLVIEW_PLUGIN_ENABLED: "true"
      ORTHANC_JSON: |
        {
          "ZipLoaderThreads": 4,
          "OrthancExplorer2": {
            "UiOptions": {
              "StudyListSearchMode": "search-button",
              "ShowSamePatientStudiesFilter": ["PatientBirthDate", "PatientID"],
              "MedDreamViewerPublicRoot": "https://demo.orthanc.team/meddream/",
              "EnableApiViewMenu": true,
              "EnableShares": true,
              "DefaultShareDuration": 90,
              "ShareDurations": [0, 7, 15, 30, 90, 365],
              "EnableOpenInOhifViewer3": true,
              "EnableOpenInMedDreamViewer": true,
              "OhifViewer3PublicRoot": "https://demo.orthanc.team/ohif/"
            },
            "Tokens" : {
              "InstantLinksValidity": 3600,
              "ShareType": "ohif-viewer-publication",
              "LandingOptions" : [
                {
                    "Type" : "open-viewer-button"
                },
                {
                    "Type" : "download-study"
                }
              ]
            },
            "Keycloak" : {
              "Enable": true,
              "Url": "https://demo.orthanc.team/keycloak",
              "Realm": "orthanc",
              "ClientId": "orthanc"
            },
            "Inbox": {
              "Enable": true,
              "EnableAnonymousAccess": false,
              "Title": "ICB inbox",
              "IntroTextHtml": "<p>Déposez ici vos fichiers DICOM à destination de l'ICB.</p>",
              "CommitUrl": "plugins/inbox/commit",
              "FormValidationUrl": "plugins/inbox/validate-form",
              "ProcessingMonitoringUrl": "plugins/inbox/monitor-processing",
              "FormFields": [
                {
                  "Type" : "Text",
                  "Title": "Expéditeur:",
                  "Id": "SenderName",
                  "Placeholder": "Dr MARTIN"
                }
              ]
            }
          },
          "DicomWeb": {
            "PublicRoot": "/orthanc/dicom-web/"
          },
          "StoneWebViewer": {
            "ShowInfoPanelAtStartup": "Never"
          },
          "PostgreSQL": {
            "Host": "postgres"
          },
          "DicomModalities": {
            "OLD-PACS": ["OLD-PACS", "192.168.1.222", 50000],
            "RAYSTATION": ["RAYSTATION", "192.168.1.223", 50002]
          },
          "AuthenticationEnabled": false,     // because it is handled by the authorization plugin
          "Authorization": {
            "WebServiceRootUrl": "http://orthanc-auth-service:8000/",
            "WebServiceUsername": "share-user",
            "StandardConfigurations" : [
              "stone-webviewer",
              "orthanc-explorer-2",
              "ohif",
              "volview"
            ],
            "CheckedLevel": "studies",
            "TokenHttpHeaders" : [ "api-key" ],
            "UncheckedResources" : [
              "/app/images/unsupported.png"],
            "ExtraPermissions": [
              ["post", "^/plugins/inbox/validate-form$", "upload|all"],
              ["post", "^/plugins/inbox/commit$", "upload|all"],
              ["post", "^/plugins/inbox/monitor-processing$", "upload|all"],
              ["get", "^/tools/metrics-prometheus$", "view|all"]
            ]
          },
          "PythonScript": "/scripts/inbox-plugin.py"
        }
    secrets:
      - ORTHANC__AUTHORIZATION__WEB_SERVICE_PASSWORD


  postgres:
    image: postgres:16
    restart: unless-stopped
    volumes: ["orthanc-index:/var/lib/postgresql/data:Z"] 
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"

  orthanc-auth-service:
    image: orthancteam/orthanc-auth-service:25.12.0
    depends_on: [keycloak]
    restart: unless-stopped
    environment:
      ENABLE_KEYCLOAK: "true"
      PUBLIC_ORTHANC_ROOT: "https://demo.orthanc.team/orthanc/"
      PUBLIC_LANDING_ROOT: "https://demo.orthanc.team/orthanc/ui/app/token-landing.html"
      PERMISSIONS_FILE_PATH: "/orthanc_auth_service/permissions.json"
      ENABLE_KEYCLOAK_API_KEYS: "true"
      PUBLIC_OHIF_ROOT: "https://demo.orthanc.team/ohif/"
      MEDDREAM_TOKEN_SERVICE_URL: "http://meddream-token-service:8088/v3/generate"
      PUBLIC_MEDDREAM_ROOT: "https://demo.orthanc.team/meddream/"
    env_file:
      - ./secrets/orthanc-token.secret.env
    secrets:
      - SECRET_KEY
      - KEYCLOAK_CLIENT_SECRET
    volumes:
      - ./permissions.json:/orthanc_auth_service/permissions.json

  ohif:
    image: orthancteam/ohif-v3:25.12.0
#  uncomment if you want to customize ohif configuration
#    volumes:
#      - ./ohif-app-config.js:/usr/share/nginx/html/app-config.js
    restart: unless-stopped

  meddream-token-service:
    image: orthancteam/meddream-token-service:25.12.0
    restart: unless-stopped

  meddream-viewer:
    image: orthancteam/meddream-viewer:25.12.0
    restart: unless-stopped
    depends_on:
      - orthanc-for-api
    environment:
      integration: "study"
      TOKEN_SERVICE_ADDRESS: "http://meddream-token-service:8088/v3/validate"
      ORTHANC_BASE_URL: "http://orthanc-for-api:8042"
      ORTHANC_USER: "meddream-user"
      MEDDREAM_PACS_CONFIG_TYPE: "Dicomweb"
    env_file:
      - ./secrets/meddream.secret.env
    volumes:
      - meddream-license:/opt/meddream/license

  # An orthanc dedicated for API accesses and also used by MedDream
  orthanc-for-api:
    image: orthancteam/orthanc:25.12.3
    volumes:
      - orthanc-data:/var/lib/orthanc/db:Z
    depends_on: [postgres]
    restart: unless-stopped
    environment:
      ORTHANC__NAME: "Orthanc for API"
      ORTHANC__DATABASE_SERVER_IDENTIFIER: "orthanc2"
      VERBOSE_ENABLED: "true"
      VERBOSE_STARTUP: "true"
      ORTHANC__AUTHENTICATION_ENABLED: "true"
      DICOM_WEB_PLUGIN_ENABLED: "true"
      ORTHANC__DICOM_WEB__PUBLIC_ROOT: "/orthanc-api/dicom-web/"
      ORTHANC__POSTGRESQL__HOST: "postgres"
      ORTHANC__POSTGRESQL__INDEX_CONNECTIONS_COUNT: 40
      ORTHANC__ORTHANC_EXPLORER_2__UI_OPTIONS__MED_DREAM_VIEWER_PUBLIC_ROOT: "https://demo.orthanc.team/meddream/"
    secrets:
      - orthanc-api.secret.json

  keycloak:
    image: orthancteam/orthanc-keycloak:25.12.0
    depends_on: [keycloak-db]
    restart: unless-stopped
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://keycloak-db:5432/keycloak"
      KC_DB_USERNAME: "keycloak"
      KC_DB_PASSWORD: "keycloak"
      KC_HOSTNAME: "https://demo.orthanc.team/keycloak"
    env_file:
      - ./secrets/KC_BOOTSTRAP_ADMIN_PASSWORD.env

  keycloak-db:
    image: postgres:16
    restart: unless-stopped
    volumes: ["keycloak-db:/var/lib/postgresql/data"]
    environment:
      POSTGRES_PASSWORD: "keycloak"
      POSTGRES_USER: "keycloak"
      POSTGRES_DB: "keycloak"

### monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
      - ./secrets/grafana-secret:/etc/prometheus/grafana-secret
      - ./secrets/orthanc-api-key-secret:/etc/prometheus/orthanc-api-key-secret
      - ./secrets/orthanc-for-api-secret:/etc/prometheus/orthanc-for-api-secret
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=15d
    # ports:
    #   - "9090:9090"
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    # ports:
    #   - "9100:9100"
    restart: unless-stopped
    command:
      - --path.rootfs=/host
    volumes:
      - "/:/host:ro,rslave"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    # ports:
    #   - "8080:8080"
    restart: unless-stopped
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/dev/disk/:/dev/disk:ro"
    command:
      - "--store_container_labels=false"
      - "--docker_only=true"
      - "--housekeeping_interval=10s"


  grafana:
    image: grafana/grafana:latest
    # ports:
    #   - "3000:3000"
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  keycloak-db:
  orthanc-data:
  orthanc-index:
  meddream-license:
  
  grafana-data:
  prometheus-data:

secrets:
  ORTHANC__AUTHORIZATION__WEB_SERVICE_PASSWORD:
    file: secrets/ORTHANC__AUTHORIZATION__WEB_SERVICE_PASSWORD
  SECRET_KEY:
    file: secrets/SECRET_KEY
  KEYCLOAK_CLIENT_SECRET:
    file: secrets/KEYCLOAK_CLIENT_SECRET
  orthanc-api.secret.json:
    file: secrets/orthanc-api.secret.json
